<!DOCTYPE html>
<html>
  <head>
    <title>DevPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <div class="container">
    <header>
      <h1>Developer Portfolio App</h1>
    </header>

    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Work', work_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      <p><%= mail_to 'nkythwal@memphis.edu', nil, class: 'contact-link' %> <%= link_to 'Instagram', 'https://www.instagram.com/_.naitikk._', class: 'contact-link' %> <%= link_to 'Github', 'https://github.com/NaitikKaythwal/', class: 'contact-link' %></p>

    </footer>
  </div>
</body>
</html>
